## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random as rd

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = rd.sample(range(0, 101), 80)
print(sample_list_1)
print(len(sample_list_1)) # Check if list is made out of 80 items

[26, 50, 84, 78, 4, 72, 17, 63, 60, 44, 12, 57, 52, 73, 5, 24, 45, 98, 99, 11, 13, 30, 82, 34, 83, 35, 92, 95, 15, 77, 79, 2, 88, 19, 0, 10, 93, 75, 76, 29, 20, 18, 59, 58, 97, 66, 43, 94, 14, 100, 8, 28, 6, 90, 54, 33, 7, 74, 68, 67, 61, 96, 36, 81, 39, 85, 53, 3, 47, 41, 48, 40, 87, 69, 16, 1, 22, 65, 9, 91]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2 = []
numbers = list(range(0, 101))
for x in range(0, 81):
    sample_list_2.append(rd.choice(numbers))
    
print(sample_list_2)

[64, 85, 16, 48, 94, 74, 94, 9, 79, 100, 6, 25, 18, 74, 50, 48, 13, 88, 44, 0, 1, 42, 50, 71, 45, 3, 95, 37, 42, 59, 5, 78, 7, 80, 59, 78, 58, 87, 6, 39, 73, 87, 76, 36, 97, 46, 99, 48, 23, 39, 44, 72, 14, 76, 14, 60, 16, 98, 48, 12, 17, 86, 92, 32, 97, 0, 65, 31, 98, 28, 33, 56, 34, 15, 37, 17, 75, 17, 14, 8, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)
print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
set3 = set1.difference(set2)
print(set3)

{2, 4, 10, 11, 19, 20, 22, 24, 26, 29, 30, 35, 40, 41, 43, 47, 52, 53, 54, 57, 61, 63, 66, 67, 68, 69, 77, 81, 82, 83, 84, 90, 91, 93, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = set2.difference(set1)
print(set4)

{32, 64, 37, 71, 42, 46, 80, 86, 23, 56, 25, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
set5 = set1.intersection(set2)
print(set5)

{0, 1, 3, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 28, 33, 34, 36, 39, 44, 45, 48, 50, 58, 59, 60, 65, 72, 73, 74, 75, 76, 78, 79, 85, 87, 88, 92, 94, 95, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
len(set1) + len(set2) == len(set3) + len(set4) + len(set5)*2

True

#### Create an empty set called `set6`.

In [13]:
set6 = set({})

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [15]:
set6.update(set3, set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [16]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [22]:
aggr1 = set3.union(set4, set5)
aggr2 = set1.union(set2)
aggr1 == aggr2

True

#### Using the `pop` method, remove the first element from `set1`.

In [24]:
set1.pop()
print(set1)

{2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 37, 38, 39, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 75, 76, 77, 78, 80, 81, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [33]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for x in list_to_remove:
    if x in set1:
        set1.remove(x)
    else: continue
print(set1)

{2, 3, 4, 5, 6, 7, 12, 13, 14, 15, 16, 17, 18, 22, 23, 25, 26, 27, 28, 30, 32, 34, 35, 37, 38, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 60, 62, 63, 64, 65, 67, 68, 70, 73, 75, 76, 77, 78, 80, 82, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 100}